In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
data.head(10)

         x1        x2    Y
0  2.781084  2.550537  0.0
1  1.465489  2.362125  0.0
2  3.396562  4.400294  0.0
3  1.388070  1.850220  0.0
4  3.064072  3.005306  0.0
5  7.627531  2.759262  1.0
6  5.332441  2.088627  1.0
7  6.922597  1.771064  1.0
8  8.675419 -0.242069  1.0
9  7.673756  3.508563  1.0

In [4]:
data. isnull().sum()

x1    16344
x2    16344
Y     16344
dtype: int64

In [6]:
df = data.dropna()

In [7]:
df . isnull().sum()

x1    0
x2    0
Y     0
dtype: int64

In [8]:
df

         x1        x2    Y
0  2.781084  2.550537  0.0
1  1.465489  2.362125  0.0
2  3.396562  4.400294  0.0
3  1.388070  1.850220  0.0
4  3.064072  3.005306  0.0
5  7.627531  2.759262  1.0
6  5.332441  2.088627  1.0
7  6.922597  1.771064  1.0
8  8.675419 -0.242069  1.0
9  7.673756  3.508563  1.0

In [ ]:
plt scatter